<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.myapp.athlete.dao.IAthleteRepository">

	
	<!-- <resultMap id="athMap" type="com.kosa.myapp.athlete.model.AthleteVO">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="birth_date" property="birthDate"/>
		<result column="age" property="age"/>
		<result column="gender" property="gender"/>
		<result column="sports" property="sports"/>
		<result column="gold_solo" property="goldSolo"/>
		<result column="silver_solo" property="silverSolo"/>
		<result column="bronze_solo" property="bronzeSolo"/>
		<result column="gold_team" property="goldTeam"/>
		<result column="silver_team" property="silverTeam"/>
		<result column="bronze_team" property="bronzeTeam"/>
		<result column="prize" property="prize"/>
		</resultMap> -->

	<select id="getAthList" resultType="com.kosa.myapp.athlete.model.AthleteVO">
		select 	id				as id, 
				name			as name, 
				birth_date		as birthDate, 
				age				as age, 
				gender			as gender, 
				sports			as sports, 
				gold_solo		as goldSolo, 
				silver_solo		as silverSolo, 
				bronze_solo		as bronzeSolo, 
				gold_team		as goldTeam, 
				silver_team		as silverTeam, 
				bronze_team		as bronzeTeam, 
				prize			as prize 
		from athletes
	</select>
	
	<select id="getAthInfo" parameterType="int" resultType="com.kosa.myapp.athlete.model.AthleteVO">
		select 	id				as id, 
				name			as name, 
				birth_date		as birthDate, 
				age				as age, 
				gender			as gender, 
				sports			as sports, 
				gold_solo		as goldSolo, 
				silver_solo		as silverSolo, 
				bronze_solo		as bronzeSolo, 
				gold_team		as goldTeam, 
				silver_team		as silverTeam, 
				bronze_team		as bronzeTeam, 
				prize			as prize 
		from athletes where id=#{id}
	</select>
	

	<update id="updateAth"
		parameterType="com.kosa.myapp.athlete.model.AthleteVO">
		UPDATE
		ATHLETES
		SET
			GOLD_SOLO=#{goldSolo}, SILVER_SOLO=#{silverSolo}, BRONZE_SOLO=#{bronzeSolo},
			GOLD_TEAM=#{goldTeam}, SILVER_TEAM=#{silverTeam},
			BRONZE_TEAM=#{bronzeTeam}
		WHERE
			ID=#{id} and BIRTH_DATE=#{birthDate}
	</update>

	<update id="calcPrize"
		parameterType="com.kosa.myapp.athlete.model.AthleteVO">
		UPDATE
		ATHLETES
		SET
			PRIZE=NVL(GOLD_SOLO, 0)*63000000 + NVL(SILVER_SOLO, 0)*35000000 + NVL(BRONZE_SOLO, 0)*25000000
			+ (NVL(GOLD_TEAM, 0)*63000000 + NVL(SILVER_TEAM, 0)*35000000 + NVL(BRONZE_TEAM, 0)*25000000)*0.75
		WHERE
			ID=#{id} and BIRTH_DATE=#{birthDate}
	</update>

	<insert id="insertAth" parameterType="com.kosa.myapp.athlete.model.AthleteVO">
		INSERT INTO athletes (id, name, birth_date, age, gender,
		sports, gold_solo, silver_solo, bronze_solo,
		gold_team, silver_team, bronze_team, prize)
	
		VALUES (#{id},#{name},#{birthDate},#{age},#{gender},#{sports},
		#{goldSolo},#{silverSolo},#{bronzeSolo},#{goldTeam},#{silverTeam},#{bronzeTeam},#{prize})
	</insert>

	<delete id="deleteAth">
		delete from athletes
		where id=#{athid} and birth_date=#{birthDate}
	</delete>
	
	<select id="searchListBySports" parameterType="string" resultType="com.kosa.myapp.athlete.model.AthleteVO">
	<![CDATA[
		SELECT 
			id			AS	id,
			name 		AS	name, 
			birth_date	AS	birthDate, 
			age			AS	age, 	
			gender		AS	gender, 
			sports		AS	sports, 
			gold_solo	AS	goldSolo,
			silver_solo	AS	silverSolo,
			bronze_solo	AS	bronzeSolo,
			gold_team	AS	goldTeam,
			silver_team	AS	silverTeam,
			bronze_team	AS	bronzeTeam,
			prize		AS	prize
	    FROM athletes
	    WHERE sports=#{sports}
	]]>
	</select>
	
	<select id="selectAdmin" parameterType="string" resultType="com.kosa.myapp.athlete.model.AthleteVO">
	<![CDATA[
		SELECT 
			id,
			name,
			sports
		FROM 
			athletes 
		WHERE name=#{name}
	]]>
	</select>
	
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			sports
		FROM
			athletes
		WHERE name=#{name}
	]]>
	</select>
	
</mapper>